<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <span ng-bind="page.title"></span>
            <small ng-bind="page.description"></small>
        </h1>
    </section>

    <section class="content">
        <ng-view></ng-view>
    </section>
</div>

<script>
    setTimeout(function () {
        window.location = "#/admin/user";
    },1000)

</script>