<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="header">
                CTG Admin
            </li>
            <li class="active">
                <a href="/#/home"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>HR</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#">
                            Travel
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#/hr/travel/country">Country List</a></li>
                            <li><a href="#/hr/travel/visaType">Visa</a></li>
                            <li><a href="#/hr/travel/ticketType">Ticket</a></li>
                            <li><a href="#/hr/travel/allowanceType">Daily Allowance</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Associate Level</a></li>
                    <li><a href="#">Outsource Role</a></li>
                    <li><a href="#">Head Count</a></li>
                    <li>
                        <a href="#">
                            Personnel Cost
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Personnel Cost for Non VA</a></li>
                            <li><a href="#">Personnel Cost for VA</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Rate</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>CTG</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Ex-rate</a></li>
                    <li><a href="#">Org Chart</a></li>
                    <li><a href="#">Fund</a></li>
                    <li><a href="#">Function</a></li>
                    <li><a href="#">Budget Code</a></li>
                    <li><a href="#">Budget Code Category</a></li>
                    <li><a href="#">ITFM Category</a></li>
                    <li><a href="#">IT Hardware</a></li>
                    <li><a href="#">Budget Owner</a></li>
                    <li><a href="#">Fund Report</a></li>
                    <li><a href="#">ITFM Pricing List</a></li>
                    <li><a href="#">ITFM Replacement</a></li>
                    <li><a href="#">Additional HW Cost</a></li>
                    <li>
                        <a href="#">
                            Revenue sheet
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Service Line</a></li>
                            <li><a href="#">RBEI Department</a></li>
                            <li><a href="#">Target DE</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Timeline</a></li>
                    <li><a href="#">Asset/ Asset Depreciation</a></li>
                    <li><a href="#">Allocation Key</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>